.blurBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);  /* Adjust the blur amount as needed */
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 170px;
  height: fit-content;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 8;
  border-radius: 10px;
  background-color: #9b9fb5;
  font-family: 'JapaneseFont', sans-serif;
  font-size: 12pt;
}

p{
  margin: 0 0 0 0;
}